body {
    font-family: Roboto;
}

.top {
    background: #E0E1E2;
    padding-top: 25px;
    padding-bottom: 48px;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.top__img {
    margin-top: 94px;
    height: 256px;
    background-image: url(img/MX-Master\ 1.png);
    background-size: contain;
    margin-bottom: 41px;
    background-repeat: no-repeat;
    background-position: center;
}

.top__arrow {
    margin-top: 40px;
}

.bluetooth {
    background-color: #EDEDED;
    padding-top: 42px;
    padding-bottom: 22px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.header {
    display: flex;
    justify-content: center;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.center-content {
    display: flex;
    justify-content: center;
}